$libre-font: Libre Baskerville;
$nunito-font: Nunito;
$primary-white: #fff;
$central-padding: 2% 10.5%; 

// Base HTML
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// CSS for Navbar and landing page
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%), url(images/Hero.png);
  background-position: center;
  background-size: cover;
  position: relative;

  .text-box {
    top: 40%;
    left: 10.5%;
    position: absolute;
    color: $primary-white;

    h1 {
      font-weight: 700;
      font-family: $libre-font;
      font-weight: bold;
      font-size: 5rem;
      line-height: 96px;

      @media screen and (max-width: 800px) {
        font-size: 40px;
      };
    };
    
    p {
      opacity: 0.6;
      font-family: $nunito-font;
      font-size: 1.5rem;
      line-height: 32px;
      max-width: 611px;
    };
  }
}

nav {
  display: flex;
  padding: $central-padding;
  justify-content: space-between;
  align-items: center;

  .nav-brand {
    flex: 1;
    width: 86px;
    height: 44px;
  };

  .stroke-item {
    list-style: none;

    img {
      vertical-align: middle;
    }
  };

  a {
    flex: 1;
  };

  svg {
    vertical-align: middle;
  };
}

nav .fa {
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    color: $primary-white;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.nav-links {
  flex: 1;
  text-align: right;

  @media (max-width: 800px) {
    display: none;
  }

  ul li {
    list-style: none;
    display: inline-block;
    padding: 4px 12px;
    position: relative;
    color: $primary-white;

    a {
      font-family: Open Sans;
      text-decoration: none;
      font-size: 14px;
      line-height: 26px;
      color: $primary-white;
    };

    @media screen and (max-width: 800px) {
      display: block;
    }
  }
}

// CSS for styling upcoming shows and reviews
.slider {
  width: 100%;
  padding: 3rem 0;
  background-color: #0A0B1A;

  .slider-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $central-padding;

    a {
      color: $primary-white;
    }

    h2 {
      flex: 1;
      color: $primary-white;
      font-family: $libre-font;
      font-size: 3rem;
      line-height: 40px;

      @media screen and (max-width: 800px) {
        font-size: 20px;
        line-height: 24px;
      };
    };

    .viewAll{
      font-family: $nunito-font;
      color: #E5C558;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    };
  };
}

// CSS for alignment sliding mechanism in the cards
.horizontal_slider {
  padding: $central-padding;
  width: 100%;
  display: flex;
  overflow-x: auto;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    padding: 5% 10.5%;
  };

  &::-webkit-scrollbar {
    width: 0;
  };

  .slider_container {
    display: contents;
    margin-bottom: 5%;

    @media screen and (max-width: 800px) {
        display: block;
        white-space: nowrap;
    };
  };

  .item {
    display: inline-block;
    margin-right: 10px;

    .show-performer {
      width: 268px;
      height: 387px;
    };

    .review-card, .review-content {
      width: 328px;
      height: 232px;
    };
  };
}

svg {
  width: 2rem;
  vertical-align: middle;
}
